<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>regsistation form</h2>
        <form action="/hit/" method="POST">
            {%csrf_token%}
            username<input type="text" name="us"><br>
            password<input type="password" name="pa"><br>
            email<input type="email" name="em"><br>
            phonenumber<input type="text" name="ph"><br>
            <br><br>
            <input type="submit" value="REGISTER">
        </form>
    </div>

    <div>
        {%for i in messages%}
           {{i}}
    </div>
   <h3> {%endfor%}</h3>
</body>
</html>